        #content {
            display: grid;
            grid-template: 1fr 1fr 1fr / 1fr 1fr ;
            height: 80vh; 
            justify-self: center;
            align-items: center;
        }
        .social-media-icon {
            width: 150px;
            height: 150px;
            margin-right: 10px;
            cursor: pointer;
        }
        .social-media-text {
            font-size: 20px;
            margin-bottom: 10px;
        }