.menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 15vh;
    border-bottom: 1px solid #ccc;
    align-items: center;
  
}
#logogfig {
    width: 100px;
    height: auto;
    position: fixed;
    left: 80px;
    top: 15px;
}
.menu-item {
    font-size: 18px;
    color: black;
    cursor: pointer;
    margin: 0 10px;
}